.ipynb_checkpoints/
Aula 3 CDO1T1 - Copia.ipynb
Aula 3 CDO1T1.ipynb
Aula 4 - CD O1T1.ipynb
Aula 5 - CD O1T1.ipynb
Pratica_de_Aula_2_Guilherme_Araujo.ipynb
Pr\303\241tica Aula 1_Guilherme_Araujo.ipynb
Untitled.ipynb
archive(1).zip
chats/
imdb-reviews-pt-br.csv
model_TESTE.bin
modelo_novo_NER/
ptwiki_20180420_100d.txt.bz2
        